{{!--{{#if currentUser.can_see_topic_group_button}}--}}
  <button
    class="btn btn-primary topic-group-button"
    title={{siteSettings.topic_curation_title}}
    {{action "clickButton"}}>{{siteSettings.topic_curation_label}}</button>
{{!--{{/if}}--}}
