.topic-group-button{
	margin: 6px 0 6px 0;
	background: darkgrey;
	width: 300px;
}
.modal-middle-container{
	display: block !important;
}
.custom-checkbox{
	float:left;
	position: relative;
	width:220px;
	display: inline-block;
    margin-bottom: 1em;
    vertical-align:middle;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.custom-radio{
	float:left;
	position: relative;
	display: inline-block;
	width:220px;
    margin-bottom: 1em;
    vertical-align:middle;
    font-weight: 400;
    cursor: pointer;
}
.custom-tag-group{
	display: table;
}